html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/* For pagination */
/* RSCSS naming convention*/
.ellipsis-pagination {
  font-size: 0.8rem;
  display:flex;
  justify-content: center;
  align-items: start;
  gap: 5px;
}

.ellipsis-pagination > .number,
.ellipsis-pagination > .previous,
.ellipsis-pagination > .next,
.ellipsis-pagination > .current {
  display: inline-block;
  border: 1px solid #dee2e6;
  padding: 5px 5px;
  min-width: 25px;
  text-align: center;
  text-decoration: none;
  color: #212529;
  flex-shrink: 0;
}

.ellipsis-pagination > .previous,
.ellipsis-pagination > .next{
  min-width: 50px;
}

.ellipsis-pagination > .previous {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.ellipsis-pagination > .next {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.ellipsis-pagination > .current {
  background: #0d6efd;
  color: #fff;
  border: #0d6efd;
}

.ellipsis-pagination > .current,
.ellipsis-pagination > .ellipsis {
  cursor: default;
}

@media (min-width: 768px) {
  .ellipsis-pagination {
    display: flex;
    justify-content: center;
  }
}

.list-item {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}

.list-item > .item-box {
  flex-basis: 100%;
  flex-grow: 1;
  list-style: none;
  border: 1px solid #dee2e6;
  padding: 5px 10px;
  text-align: center;
  /* min-width: 120px; */
  min-height: 20px;
  border-radius: 8px;
}

.item-box {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
