@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    var page = Request.Query.ContainsKey("page") ? Convert.ToInt32(Request.Query["page"]) : 1;
    var items = Enumerable.Range(1, 1000).ToArray();
    var pagination = new Pagination(totalItemsCount: items.Length, currentPage: page, itemsPerPage: 10);
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<ul class="list-item">
    @foreach (var item in items.Skip(pagination.Offset).Take(pagination.ItemPerPages))
    {
        <li class="item-box">@item</li>
    }
</ul>

@pagination.GetPageLinks("/")
